.transition-box{
  background-color:light green;
  border-radius:6px;
  cursor:pointer;
  line-height:95px;
  height:95px;
  text-align:center;
  transition-property:background-color,border-radius;
  transition-duration:2s;
  transition-timing-function:linear;
  width:95px;
}
.transition-box:hover{
  background-color:red;
  border-radius:50%;
}
.transition-button{
  border:0;
  border-radius:4px;
  background-color:lightblue;
  color:white;
  cursor:pointer;
  box-shadow:0.5px;
  margin:0;
  outline:0;
  padding:12px 20px;
  transition:all 0.25 linear;
}
.transition-button.active{
  box-shadow:0 5px 0;
  transform:translatey(3px);
}
